<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <form method="post">
        <lable for="videoid">videoid</lable>
        <input type="text" name="videoid" ><br><br>

        <lable for="description">description</lable>
        <input name="description"><br><br>

        <lable for="thumbnail">thumbnail</lable>
        <input type="file" name="thumbnail" ><br><br>

        <lable for="profile">profile</lable>
        <input type="file" name="profile" ><br><br>

        <lable name="views">views</lable>
        <input type="text" name="views" ><br><br>

        <label for="channel">channel </label>
        <input type="text" name="channel" ><br><br>

        <label for="upload">upload</label>
        <input type="text" name="upload-info"><br><br>

        <input type="submit" value="Submit" >
        <input type="reset" value="Reset" ><br><br>
    </form>
</body>

</html>