<!DOCTYPE html>
<html>

<head>
    <title>Login and Account Creation</title>
    <link rel="stylesheet" href="/static/css/page.css">
</head>

<body>
    <div class="container-login">
       
        <img src="/static/imag/google-logo.png" class="glogo">
        <h4>Choose Account</h4><br>
        <form method="post">
            <input type="text" placeholder="username" name="name">
            <input type="text" placeholder="email" name="email">
            <input type="password" placeholder="password" name="password">
            <button type="submit">Sign In</button><br><br>
            <p>or</p>
            <a href="{{url_for('add_user')}}"><p>create a new account</p></a>
        </form>
        
        
    </div>
</body>

</html>